<div class="main-container">

  <div id="main-info">
    <img src=<%= @dog.image_url %>  alt=<%= @dog.name %> />
    <h2> <%= @dog.name %> </h2>
    <h3> <%= @dog.catchphrase %> </h3>
  </div>


  <h3>Friends</h3>
  <ul class="buddies-container">

    <% @dog.buddies.each do |buddy| %>
    <li class="buddy">
      <img src=<%= buddy.image_url %>  alt=<%= buddy.name %> />
      <span class="buddy-link"><%= link_to buddy.name, buddy %></span>
    </li>
    <% end %>

  </ul>

</div>


<aside class="sidebar">

  <ul class="posts-container">
    <h3>Posts</h3>

    <% @dog.posts.each do |post| %>
    <li class="post-link">
      <%= link_to post.title, post %>
    </li>
    <% end %>
  </ul>

  <%= form_for @post, html: {id: "new-post-form"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.submit "Make a new post!", disabled: true %>
  <% end %>

</aside>
