<img src=<%= @dog.image_url %>  alt=<%= @dog.name %> />
<h2> <%= @dog.name %> </h2>
<h3> <%= @dog.catchphrase %> </h3>

<h3>Friends</h3>
<ul>
  <% @dog.buddies.each do |buddy| %>
    <li>
      <img src=<%= buddy.image_url %>  alt=<%= buddy.name %> />
      <%= link_to buddy.name, buddy %>
    </li>
  <% end %>
</ul>

<h3>Posts</h3>

<ul>
  <% @dog.posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>
