<!DOCTYPE html>
<html>
  <head>
    <title>DogBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>DogBook🐕</h1>
    <%= link_to "All Doggies", dogs_path %>
    <%= link_to "All Posts", posts_path %>

    <%= yield %>
    
  </body>
</html>
